<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.adadapted.demo.baskethandle">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="com.adadapted.demo.baskethandle.BasketHandleApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.adadapted.demo.baskethandle.app.common.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.adadapted.sdk.addit.ui.AdditInterceptActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:taskAffinity="">
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Accepts URIs that begin with "http://dl.adadapted.com/additdemo” -->
                <!-- note that the leading "/" is required for pathPrefix -->
                <data
                    android:host="dl.adadapted.com"
                    android:pathPrefix="/additdemo"
                    android:scheme="http" />

                <!-- Accepts URIs that begin with "https://dl.adadapted.com/additdemo” -->
                <!-- note that the leading "/" is required for pathPrefix -->
                <data
                    android:host="dl.adadapted.com"
                    android:pathPrefix="/additdemo"
                    android:scheme="https" />

                <!-- Accepts URIs that begin with "addit://additdemo/” -->
                <!-- note that the leading "/" is required for pathPrefix -->
                <data
                    android:host="additdemo"
                    android:pathPrefix="/"
                    android:scheme="addit" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.adadapted.demo.baskethandle.app.common.Main2Activity"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".app.common.MainActivity" />
    </application>

</manifest>